<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommender Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recommend">Recommend</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
        </div>
      </div>
    </nav>
    <div class="row">
    <div class="container">
        <div class="row">
            <h1 class="text-black" style="font-size:50px">Recommend Books</h1>
            <form action="/recommend_books" method="post">
                <input type="text" name="user_input" class="form-control">
                <input type="submit" class="btn btn-lg btn-warning">
            </form>
        </div>
    </div>
    {% if data %}
    {% for i in data %}
    <div class="col-md-3" style="margin-top:50px">  
      <div class="card">
        <div class="card-body">
          <img calss="card-img-top" src="{{i[2]}}" >
          <h3 calsss="text-white"><b>{{i[0]}}</b></h3>
          <h4 calsss="text-white">Author: {{i[1]}}</h4>
          <h5 calsss="text-white"><em>Total Votes: {{i[4]}}</em></h5>
          <h5 calsss="text-white"><em>Rating: {{i[3]}}</em></h5>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  </body>
</html>
